.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    flex: 1;
    background: linear-gradient(to left, #B24592 , #F15F79);
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }

  .container {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .mat-form-field {
    width: 100%;
  }

  .example-toolbar {
    background: linear-gradient(to left, #B24592 , #F15F79);
  }

  @media only screen and (max-width: 860px) {
    .sidenav-box {
      width: 100%;
    }
  }

  @media only screen and (min-width: 860px) {
    .sidenav-box {
      width: 400px;
    }
  }