.example-card {
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 0;
  margin: 0;
  height: calc(100vh - 56px);
}

.mat-card-image {
  height: 50vh;
  width: auto;
  max-width: 400px;
}

.controls {
  margin: 0 20%;
}