<mat-card class="example-card">
  <img mat-card-image src="{{ dog.image }}" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
  <mat-card-content>
    <p>
      {{ dog.name }}
    </p>
    <div class="controls">
      <button mat-fab style="background-color: #f95555; box-shadow: none; float: left" (click)="skip()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-fab style="background-color: #55f9c4; box-shadow: none; float: right" (click)="like()">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>